[submodule "diet-advisor-product-scraper"]
	path = diet-advisor-product-scraper
	url = https://github.com/Kryniek/diet-advisor-product-scraper
	branch = main
[submodule "diet-advisor-api"]
	path = diet-advisor-api
	url = https://github.com/Kryniek/diet-advisor-api
	branch = main
[submodule "diet-advisor-common"]
	path = diet-advisor-common
	url = https://github.com/Kryniek/diet-advisor-common
	branch = main
[submodule "diet-advisor-recipe-scraper"]
	path = diet-advisor-recipe-scraper
	url = https://github.com/Kryniek/diet-advisor-recipe-scraper.git
	branch = main
[submodule "diet-advisor-data-initializer"]
	path = diet-advisor-data-initializer
	url = https://github.com/Kryniek/diet-advisor-data-initializer.git
	branch = main
